<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
	<script th:src="@{/lib/bower_components/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/lib/js/popper.min.js}"></script>
	<script
		th:src="@{/lib/bower_components/bootstrap4.1/dist/js/bootstrap.js}"></script>
	<script th:src="@{/lib/js/jquery.matchHeight.min.js}"></script>
	<script th:src="@{/lib/assets/js/main.js}"></script>
	<script
		th:src="@{/lib/bower_components/sweetalert2/dist/sweetalert2.js}"></script>
		<script th:src="@{/lib/bower_components/jquery/dist/jquery.min.js}"></script>
	<script
		th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js}"></script>
		
		
		<script th:src="@{/lib/assets/js/lib/data-table/datatables.min.js}"></script>
	<script
		th:src="@{/lib/assets/js/lib/data-table/dataTables.bootstrap.min.js}"></script>
	<script
		th:src="@{/lib/assets/js/lib/data-table/dataTables.buttons.min.js}"></script>
	<script
		th:src="@{/lib/assets/js/lib/data-table/buttons.bootstrap.min.js}"></script>
	<script th:src="@{/lib/assets/js/lib/data-table/jszip.min.js}"></script>
	<script th:src="@{/lib/assets/js/lib/data-table/vfs_fonts.js}"></script>
	<script th:src="@{/lib/assets/js/lib/data-table/buttons.html5.min.js}"></script>
	<script th:src="@{/lib/assets/js/lib/data-table/buttons.print.min.js}"></script>
	<script th:src="@{/lib/assets/js/lib/data-table/buttons.colVis.min.js}"></script>
	<script th:src="@{/lib/assets/js/init/datatables-init.js}"></script>
</footer>
<body>

</body>
</html>