<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:fragment="search-car" class="search-car" th:style="'background-image: url('+ @{/images/bg-main.1e128ccf.jpg}+');
	background-repeat: no-repeat, repeat; height: 550px;
	background-size: cover;'" >
        <h2 style="text-transform: uppercase; margin-bottom: 25px">Mioto - đồng hành cùng chuyến đi </h2>
        <form action="/filter" method="get" id="form-search-car" class="col-md-6">
            <h4 style="text-align: center;"> Tìm kiếm xe</h4>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputAddress">Nhập nơi muốn thuê xe</label>
                    <input type="text" class="form-control" id="inputEmail4" name="address" placeholder="Nhập tỉnh hoặc quận  .....">
                </div>
                <div class="form-group col-md-12 d-flex">
                    <div>
                        <label for="inputDateStart">Ngày nhận xe</label>
                        <input type="datetime-local" class="form-control" id="inputDateStart" name="dateStart" value="2023-03-13T18:22">
                    </div>
                    <div style="margin-left: 60px;">
                        <label for="inputDateEnd">Ngày trả xe</label>
                        <input type="datetime-local" class="form-control" id="inputDateEnd" name="dateEnd" value="2023-03-14T18:22">
                    </div>

                </div>
                <div class="form-group col-md-12 d-flex">

                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="gridCheck" value="false" checked="checked" name="driver"><label> Tự lái</label>
                    </div>
                    <div class="form-check" style="margin-left: 20px;">
                        <input class="form-check-input" type="radio" id="gridCheck" value="true" name="driver"><label> Có Tài xế</label>
                    </div>
                </div>                
            </div>
            <input type="submit" class="btn btn-primary btn-search-car" value="Tìm kiếm xe ngay"></input>
        </form>
    </div>
</body>
<style th:inline="text">
.search-car {
	
	background-color: red;
}
</style>
</html>